.contactUs {
  padding: 0 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactUs__container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 650px;
}
.contactUs__form {
  display: flex;
  flex-direction: column;
  width: 470px;
  font-family: sans-serif;
}
.contactUs__form input {
  background: #fff;
  color: #444;
  font-size: 18px;
  padding: 11px 10px;
  border-radius: 3px;
  border: 1px solid #bbb;
  line-height: 1;
  margin-bottom: 10px;
}
.contactUs__form textarea {
  height: 135px;
  background: #fff;
  color: #444;
  font-size: 18px;
  padding: 11px 10px;
  border-radius: 3px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
}
.contactUs__form button {
  border-radius: 3px;
  font-size: 15px;
  color: white;
  background: var(--color-black);
  box-shadow: none;
  cursor: pointer;
  font-weight: 700;
  margin: 0 auto;
  text-decoration: none;
  text-shadow: 0 1px rgb(0 0 0 / 20%);
  padding: 14px 24px ;
  text-align: center;
  border: none;
}
.contactUs__form button:hover {
  background: #161616f3;
}

@media screen and (max-width:700px) {
  .contactUs {
    padding: 0 0px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contactUs__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 92%;
  }
  .contactUs__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-family: sans-serif;
  }
}
