.navbar {
  background-color: var(--color-footer);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 1px 1px 15px -10px rgba(0, 0, 0, 0.705);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-logo a {
  margin-top: 10px;
}
.navbar-logo img {
  width: 100px;
  object-fit: cover;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
}
.nav-item {
  border-bottom: 3px solid transparent;
}
.nav-item > .active{
  border-bottom: 3px solid var(--color-blue);
}
.nav-links {
  color: var(--color-blue);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  list-style: none;
  height: 100%; /* the most important*/
  font-size: 18px;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}
.nav-links:hover {
  transform: scale(1.05);
}
.menu-icon {
  display: none;
}

.navbar__select {
  background: transparent;
  padding: 5px;
  border-radius: 10px;
  color: var(--color-blue);
  border: 0.5px solid var(--color-blue);
  outline: none;
  margin-left: 10px;
}
/* ======== Media Mobile ======= */
@media screen and (max-width: 1000px) {
  .navbar-container {
    padding: 0 20px 0 5px;
  }
  .navbar-logo img {
    width: 90px;
  }
}
@media screen and (max-width: 500px) {
  .nav-links {
    font-size: 15px;
    padding: 0.5rem 0.4rem;
  }
  .navbar__select {
    padding: 4px;
    /* margin-left: 10px; */
  }
}
