.app__container {
  position: relative;
}
.app__social {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 999;
}
.app__social div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-blue);
  margin: 0.25rem 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.app__social div:hover {
  transform: scale(1.1);
}
.app__social div svg {
  width: 22px;
  height: 22px;
  color: var(--color-white);
}
.phone-icon {
  background-color: var(--color-black) !important;
}
.whats-icon {
  background-color: var(--color-whats) !important;
}
/* ----- Swiper Css ----- */
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-blue) !important;
}
.swiper-button-next,
.swiper-button-prev {
  background: #e6eefa48 !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  transition: all 0.1s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #e6eefaa9 !important;
}
.swiper-button-next::after,
.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 800 !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}
.swiper{
  padding: 5px !important;
}